# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor / IDE
.vscode/
.idea/
*.swp

# Logs & temp
*.log
tmp/
temp/
*.bak

# Node (있을 경우)
node_modules/
.env
.env.local

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# Vercel
.vercel

.vercel
.env*
!.env.example
